@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: Pretendard-B;
  src: url(../webfonts/Pretendard-Bold.c8dc160f.woff2) format("woff2");
}
@font-face {
  font-family: Pretendard-S;
  src: url(../webfonts/Pretendard-SemiBold.0b651bef.woff2) format("woff2");
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.main {
  height: 100vh;
  position: relative;
}
.main .bg {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
}
.main .bg video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main .bg ul.bg-menu {
  position: absolute;
  width: 100%;
  height: 100%;
}
.main .bg ul.bg-menu li {
  width: 5px;
  height: 5px;
  background: #fff;
  left: 0;
  top: 0;
}
div.nav {
  width: 100%;
  height: 100px;
  display: flex;
  position: relative;
  align-items: center;
  padding: 0 0 0 45px;
  box-sizing: border-box;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 18px;
  transition: 0.5s;
}

div.nav .nav-back {
  content: "";
  position: absolute;
  width: 1897px;
  height: 100%;
  left: 0;
  top: 0;
  background: #fff;
  z-index: -1;
  opacity: 0;
  transition: 0.5s;
}
div.nav > a p {
  width: 113px;
  height: 25px;
  padding-right: 146px;
}
div.nav > a p img {
  width: 100%;
  height: 100%;
}
.nav ul {
  display: flex;
  justify-content: center;
  font-family: Pretendard-B, sans-serif;
}

.nav ul.menu {
  /* width: 100%; */
  height: 100%;
  display: flex;
  margin: 0 auto;
  position: relative;
  align-items: center;
}
.nav ul.menu:hover ~ div.nav-back {
  opacity: 1;
  height: 472px;
}
.nav ul.menu li a {
  display: block;
  height: 100%;
  line-height: 100px;
  color: #fff;
  text-align: center;
  padding: 0 24px;
  transition: 0.5s;
}
.nav ul.menu:hover li a {
  padding: 0 60px;
  color: #000;
}
.nav ul.service {
  font-family: Pretendard-S, sans-serif;
}
.nav ul.service li {
  padding-right: 35px;
  align-self: center;
  position: relative;
}
.nav ul.service li::after {
  content: url(../imges/arrow1.svg);
  position: absolute;
  width: 8px;
  top: -2px;
  right: 20px;
}

div.nav .service p {
  position: relative;
  width: 100px;
  height: 100px;
}
div.nav .service p span {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgb(250, 0, 45);
  left: 0;
  top: 0;
}
div.nav .service p span img {
  width: 26px;
  height: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
@media screen and (max-width: 1599px) {
  .nav ul.menu li {
    transition: none;
  }
  .nav ul.menu:hover li {
    padding: 40px 27px;
  }
}
@media screen and (max-width: 1279px) {
  div.nav {
    height: 60px;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
  }
  div.nav ul.menu,
  div.nav .service li a {
    display: none;
  }
  div.nav .service p {
    width: 60px;
    height: 60px;
    overflow: hidden;
  }
}
