@charset "utf-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "Pacifico-Regular";
  src: url(../webfonts/Pacifico-Regular.woff) format("woff");
}
@font-face {
  font-family: "Pretendard-Medium";
  src: url(../webfonts/Pretendard-Medium.c0f4afc6.woff2) format("woff2");
}
@font-face {
  font-family: "Pretendard-SemiBold";
  src: url(../webfonts/Pretendard-SemiBold.0b651bef.woff2) format("woff2");
}

@font-face {
  font-family: "Pretendard-Bold";
  src: url(../webfonts/Pretendard-Bold.c8dc160f.woff2) format("woff2");
}

@font-face {
  font-family: "Pretendard-ExtraBold";
  src: url(../webfonts/Pretendard-ExtraBold.bff8ca72.woff2) format("woff2");
}
html {
  font-size: 16px;
  scroll-behavior: smooth;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}

.wrap {
  position: absolute;
  left: 0;
  top: 0;
  /* margin: 0 auto; */
  width: 100%;
  max-width: 1920px;
  height: 100vh;
  /* overflow: hidden; */
  background: #f8ebe6;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro {
  /* width: 100%;
  height: 100vh;
  background: #f8ebe6;
  margin: 0 auto; */
  /* position: relative; */
  /* overflow: hidden; */
}

/* 구름 */
.cloud-wrap {
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  position: relative;
  text-align: center;
  cursor: pointer;
  transition: transform 1s ease;
  /* z-index: 2; */
}

.cloud-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 950px;
  max-width: 80vw;
  transition: transform 1s ease;
}

/* 텍스트 */
.cloud-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-weight: bold;
  text-align: center;
  transition: opacity 1s ease;
}

.cloud-text > p:first-child {
  font-size: 60px;
  margin-bottom: 20px;
  color: #8b7057;
}
.cloud-text > p:last-child {
  font-size: 20px;
}
.cloud-text .mouse {
  margin-top: 30px;
}
.cloud-text .mouse p:first-child {
  color: #767171;
  font-size: 14px;
  padding-bottom: 10px;
}
.cloud-text .mouse p:nth-child(2) {
  transform: translateY(0);
  animation: mouse 2s ease-in-out infinite normal;
}
@keyframes mouse {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
}
/* 클릭 후 효과 */
.cloud-wrap.expand .cloud-image {
  transform: scale(10);
}
.cloud-wrap.expand .cloud-text {
  opacity: 0;
}

/* ------------ 다음 콘텐츠------------ */
.main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 1920px;
  /* display: none; */
  display: flex;
  /* opacity: 1; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 1s ease;
  font-family: "Pretendard-SemiBold";
}
.main.active {
  opacity: 1;
  z-index: 2;
}
.main .menu {
  position: absolute;
  top: 150px;
  right: 70px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  text-align: right;
}
.main .menu a {
  display: block;
  width: 180px;
  height: 66px;
  line-height: 65px;
  padding-right: 20px;
  box-sizing: border-box;
  transition: 0.5s;
}
.main .menu a:hover {
  transform: translateX(20px);
}
.main .menu a:first-child {
  background: url(../image/mark1.png) center/cover no-repeat;
}
.main .menu a:nth-child(2) {
  background: url(../image/mark2.png) center/cover no-repeat;
  position: relative;
  z-index: 1;
}
.main .menu a:nth-child(3) {
  background: url(../image/mark3.png) center/cover no-repeat;
}
.main .menu a:nth-child(4) {
  background: url(../image/mark4.png) center/cover no-repeat;
}
.main .menu a:nth-child(5) {
  background: url(../image/mark5.png) center/cover no-repeat;
}
header,
.skill-wrap,
.contact_wrap {
  width: 100%;
  height: 1195px;
  background: #896c61;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header,
.skill-wrap,
.contact_wrap {
  width: 100%;
  height: 1195px;
  background: #896c61;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
header nav {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  display: grid;
  grid-template-columns: 5fr 7fr 5fr;
  align-items: center;
  font-size: 20px;
  color: #fff;
}

header nav div:nth-child(2) {
  display: flex;
  justify-content: center;
}

header .profile,
.contact_con {
  width: 83%;
  height: 85%;
  border-radius: 30px;
  background: #fff;
  display: flex;
  gap: 60px;
  margin-left: 6%;
  padding: 5% 0;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}

header .profile .me {
  flex: 1 1 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .profile .me p {
  width: 350px;
}
header .profile .me img {
  width: 100%;
}
header .profile .profile_txt {
  width: 100%;
  /* flex: 1 1 65%; */
}
header .profile .profile_txt .about {
  width: 85%;
  margin-bottom: 30px;
  background: #f8ebe6;
  padding: 20px 30px 30px;
  box-sizing: border-box;
  border-radius: 30px;
}
header .profile .profile_txt .about span:first-child {
  font-size: 50px;
  font-family: "Pacifico-Regular";
}
header .profile .profile_txt .about span:nth-child(2) {
  font-size: 20px;
}
header .profile .profile_txt .about p {
  line-height: 30px;
  font-size: 17px;
}
header .profile .profile_txt .about p .mo {
  display: none;
}
header .profile .profile_txt .pro_tit {
  font-size: 20px;
  margin-bottom: 10px;
}

header .profile .profile_txt .career {
  display: flex;
  gap: 100px;
  margin-top: 30px;
  margin-bottom: 40px;
  font-size: 18px;
}
header .profile .profile_txt .career li p {
  line-height: 25px;
}
header .profile .profile_txt .career li span {
  color: #767171;
}
header .profile .profile_txt .certificat .pro_tit {
  font-size: 20px;
}
header .profile .profile_txt .certificat p {
  font-size: 18px;
  line-height: 25px;
}
header .profile .profile_skill {
  margin-top: 40px;
}
header .profile .profile_skill ul li {
  display: flex;
  gap: 20px;
}
header .profile .profile_skill ul li p {
  width: 60px;
  display: flex;
  align-items: center;
}
header .profile .profile_skill ul li p:nth-child(5) {
  width: 80px;
}
header .profile .profile_skill ul li p img {
  width: 100%;
}
.skill-wrap .skill_con {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 83%;
  height: 85%;
  border-radius: 30px;
  background: #fff;
  gap: 30px;
  padding: 5% 2%;
  margin-left: 6%;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  align-items: center;
}
.skill-wrap .skill_con h1 {
  width: 100%;
  padding-left: 70px;
  font-size: 40px;
  text-align: left;
  color: #8b7057;
}
.skill_con ul {
  display: grid;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 300px 300px;
  gap: 50px;
}
.skill_con ul li {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #c5bcb3;
  border-radius: 30px;
  text-align: center;
}
.skill_con ul li .skill_icon {
  width: 50px;
  margin: 0 auto;
}
.skill_con ul li .skill_icon img {
  width: 100%;
}
.skill_con ul li:nth-child(5) .skill_icon {
  width: 150px;
  height: 70px;
  line-height: 100px;
}

.skill_con ul li .skill_txt {
  font-size: 0.9vw;
  line-height: 30px;
  word-break: keep-all;
}
.skill-wrap .menu a:nth-child(2) {
  background: url(../image/mark2.png) center/cover no-repeat;
  z-index: 0;
}
.skill-wrap .menu a:nth-child(3) {
  background: url(../image/mark3.png) center/cover no-repeat;
  position: relative;
  z-index: 1;
}
.portpolio-wrap {
  width: 100%;
  height: 2650px;
  display: flex;
  align-items: center;
  background: #896c61;
  padding: 90px 0 5% 0;
  box-sizing: border-box;
  position: relative;
}

.portpolio-wrap .menu a:nth-child(2) {
  background: url(../image/mark2.png) center/cover no-repeat;
  z-index: 0;
}
.portpolio-wrap .menu a:nth-child(4) {
  background: url(../image/mark4.png) center/cover no-repeat;
  z-index: 1;
}

.portpolio_con {
  width: 83%;
  height: 2500px;
  display: flex;
  justify-content: center;
  padding: 150px 200px;
  margin-left: 6%;
  border-radius: 30px;
  background: #fff;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}
.portpolio_con > h1 {
  position: absolute;
  left: 100px;
  top: 80px;
}
.portpolio_con > ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 200px;
  margin-top: 150px;
}
.portpolio_con > ul > li {
  display: flex;
  justify-content: space-around;
}

.popol {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.popol a {
  display: block;
  width: 250px;
  margin: 30px auto 0;
  padding: 10px 0;
  text-align: center;
  border: 1px solid #83655b;
  border-radius: 30px;
  background: #83655b;
  color: #ccc;
}
.popol p {
  width: 500px;
  position: relative;
  z-index: 1;
}
.popol p img {
  width: 100%;
}
.popol::after {
  content: "";
  position: absolute;
  width: 500px;
  height: 500px;
  left: -100px;
  top: -100px;
  background: #fffaf0;
  border-radius: 50%;
}

.popol_txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}

.popol_txt .cor_logo img {
  width: 200px;
}

.popol_txt ul li:nth-child(3) {
  display: flex;
  align-items: center;
}
.popol_txt ul li:nth-child(3),
.popol_txt ul li:nth-child(5) {
  padding-top: 20px;
}
.popol_txt ul li .bold {
  font-family: "Pretendard-ExtraBold";
}
.popol_txt ul li p {
  font-size: 20px;
  line-height: 35px;
}
.popol_txt ul .ls_color {
  display: flex;
  gap: 10px;
}

.popol_txt:first-child .ls_color .color {
  display: flex;
  gap: 10px;
}
.popol_txt:first-child .ls_color .color span {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.popol_txt ul .ls_font p:nth-child(2) {
  font-family: "Pretendard-Medium";
}
.popol_txt ul .ls_font p:nth-child(3) {
  font-family: "Pretendard-SemiBold";
}
.popol_txt ul .ls_font p:nth-child(4) {
  font-family: "Pretendard-Bold";
}
.popol_txt ul .ls_font p:nth-child(5) {
  font-family: "Pretendard-ExtraBold";
}
.portpolio_con h1 {
  font-size: 40px;
  color: #8b7057;
}

.contact_wrap .contact_con {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact_wrap .contact_con h1 {
  font-size: 60px;
  color: #8b7057;
}
.contact_wrap .contact_con .my_info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contact_wrap .contact_con .my_info li {
  display: flex;
  gap: 20px;
  font-size: 20px;
}
.contact_wrap .contact_con .my_info li p {
  width: 70px;
  color: #505050d0;
}
.contact_wrap .contact_con .my_info li span {
  color: #3b3b3b;
}
.contact_wrap .menu a:nth-child(2) {
  background: url(../image/mark2.png) center/cover no-repeat;
  z-index: 0;
}
.contact_wrap .menu a:nth-child(5) {
  background: url(../image/mark5.png) center/cover no-repeat;
  z-index: 1;
}
/*------------------미디어쿼리------------------*/
@media screen and (max-width: 1690px) {
  .popol p {
    width: 350px;
    position: relative;
    z-index: 1;
  }
  .popol::after {
    width: 350px;
    height: 350px;
    left: -80px;
    top: -10px;
  }
}
@media screen and (max-width: 1589px) {
  header .profile {
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }
  header .profile .me {
    flex: 1 1 20%;
  }
  header .profile .me p {
    width: 220px;
  }
  header .profile .profile_txt .about {
    margin: 0 auto;
  }

  header .profile .profile_txt .about span:first-child {
    font-size: 27px;
  }
  header .profile .profile_txt .about span:nth-child(2) {
    font-size: 16px;
  }
  header .profile .profile_txt .about p {
    line-height: 23px;
    font-size: 15px;
  }
  header .profile .profile_txt .pro_tit {
    font-size: 18px;
    margin-bottom: 10px;
  }
  header .profile .profile_txt .career {
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 14px;
  }
  header .profile .profile_txt .career li:first-child {
    flex-basis: 40%;
    padding-left: 8%;
  }
  header .profile .profile_txt .career li:nth-child(2) {
    flex-basis: 60%;
  }
  header .profile .profile_txt .certi_Skill {
    display: flex;
    justify-content: center;
  }
  header .profile .profile_txt .certificat {
    width: 40%;
    padding-left: 8%;
  }
  header .profile .profile_txt .certificat .pro_tit {
    font-size: 18px;
  }
  header .profile .profile_txt .certificat p {
    font-size: 14px;
  }
  header .profile .profile_skill {
    width: 60%;
    margin-top: 0;
  }
}
@media screen and (max-width: 1339px) {
  .skill_con ul li .skill_icon {
    width: 40px;
  }

  .skill_con ul li:nth-child(5) .skill_icon {
    width: 100px;
    height: 40px;
    line-height: 70px;
  }
}
@media screen and (max-width: 1290px) {
  .portpolio_con {
    padding: 80px 30px;
  }
  .portpolio_con > ul > li {
    flex-direction: column;
  }
  .portpolio_con > ul > li:nth-child(2) {
    flex-direction: column-reverse;
  }
  .popol::after {
    display: none;
  }
  .popol_txt {
    margin-top: 15px;
    text-align: center;
  }
  .popol_txt .cor_logo {
    display: flex;
    justify-content: center;
  }
  .popol_txt ul .ls_color {
    flex-direction: column;
    padding-bottom: 20px;
  }
}
@media screen and (max-width: 1160px) {
  header,
  .skill-wrap {
    width: 100%;
    height: 962px;
    background: #896c61;
    padding: 0 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  header nav {
    display: none;
  }
  header .profile,
  .contact_con {
    width: 100%;
    margin-left: 0;
  }

  .contact_con {
    margin-left: 0;
  }
  header .profile .profile_txt .about {
    margin: 0 auto;
    /* padding: 15px; */
  }
  header .profile .profile_txt .about span:first-child {
    font-size: 25px;
  }
  header .profile .profile_txt .about span:nth-child(2) {
    font-size: 16px;
  }
  header .profile .profile_txt .about p {
    line-height: 23px;
  }

  .main .menu,
  .skill-wrap .menu,
  .portpolio-wrap .menu,
  .contact_wrap .menu {
    left: 15%;
    top: 40px;
    flex-direction: row;
    text-align: center;
    gap: 20px;
  }
  .contact_wrap .menu {
    top: 50px !important;
  }
  .main .menu,
  .skill-wrap .menu,
  .portpolio-wrap .menu,
  .contact_wrap .menu {
    left: 15%;
    top: 40px;
    flex-direction: row;
    text-align: center;
    gap: 20px;
  }
  .main .menu a,
  .skill-wrap .menu a,
  .portpolio-wrap .menu a,
  .contact_wrap .menu a {
    width: 150px;
    height: 55px;
    font-style: 16px;
  }
  .main .menu a {
    width: 110px;
    height: 72px;
  }

  .main .menu a:first-child,
  .skill-wrap .menu a:first-child,
  .portpolio-wrap a:first-child,
  .contact_wrap a:first-child {
    background: url(../image/mark1_mo.png) center/cover no-repeat;
  }
  .main .menu a:nth-child(2),
  .skill-wrap .menu a:nth-child(2),
  .portpolio-wrap .menu a:nth-child(2),
  .contact_wrap .menu a:nth-child(2) {
    background: url(../image/mark2_mo.png) center/cover no-repeat;
    z-index: 0;
  }
  .main .menu a:nth-child(3),
  .skill-wrap .menu a:nth-child(3),
  .portpolio-wrap .menu a:nth-child(3),
  .contact_wrap .menu a:nth-child(3) {
    background: url(../image/mark3_mo.png) center/cover no-repeat;
    z-index: 0;
  }
  .main .menu a:nth-child(4),
  .skill-wrap .menu a:nth-child(4),
  .portpolio-wrap .menu a:nth-child(4),
  .contact_wrap .menu a:nth-child(4) {
    background: url(../image/mark4_mo.png) center/cover no-repeat;
    z-index: 0;
  }
  .main .menu a:nth-child(5),
  .skill-wrap .menu a:nth-child(5),
  .portpolio-wrap .menu a:nth-child(5),
  .contact_wrap .menu a:nth-child(5) {
    background: url(../image/mark5_mo.png) center/cover no-repeat;
    z-index: 0;
  }
  .skill-wrap .skill_con,
  .portpolio-wrap .portpolio_con,
  .contact_con {
    width: 100%;
    margin-left: 0;
  }
  .portpolio-wrap,
  .contact_wrap {
    padding: 0 20px;
    justify-content: center;
  }
  .contact_wrap {
    align-items: center;
  }
}
@media screen and (max-width: 1044px) {
  header .profile .me {
    flex: 0 0 10%;
  }
  header .profile .me p {
    width: 220px;
  }
  header .profile .profile_txt .about {
    background: transparent;
    text-align: center;
    margin: 0 auto 30px;
    padding: 0;
  }
  header .profile .profile_txt .about p {
    display: none;
  }
  .skill_con ul {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
  }
  .skill_con ul li {
    padding: 10px;
  }
  .skill_con ul li .skill_txt {
    font-size: 1.3vw;
    line-height: 20px;
  }
}

@media screen and (max-width: 845px) {
  .main .menu {
    display: none;
  }
  header .profile {
    width: 100%;
    gap: 10px;
  }
  header .profile .me {
    flex: 1 1 10%;
    margin-top: 30px;
  }
  header .profile .me p {
    width: 180px;
  }
  header .profile .profile_txt .about {
    width: 100%;
    text-align: center;
    margin: 0;
  }
  header .profile .profile_skill ul li {
    flex-wrap: wrap;
  }
  header .profile .profile_skill ul li p {
    width: 30px;
  }
  .skill-wrap {
    height: 100%;
  }
  .skill-wrap .skill_con {
    height: 100%;
    padding: 30px 20px;
  }
  .skill_con ul {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
  }
  .skill_con ul li {
    padding: 10px;
    box-sizing: border-box;
  }
  .skill_con ul li .skill_txt {
    font-size: 14px;
    line-height: 20px;
  }
  .popol_txt ul li p {
    font-size: 14px;
  }
}
